:root {
  --blue: #0B94CE;
  --green: #7EBB2F;
  --yellow: #FCD703;
  --brown: #AF654B;
  --offwhite: #F6F2EF;
}

body {
  margin: 0;
  background-color: var(--yellow);
}

.header {
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-bottom: 25px solid var(--blue);
}

img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100%;
}

.logo {
  position: absolute;
  top: 32%;
  left: 11%;
  width: 18%;
}

.main-title {
  font-family: 'Open Sans', sans-serif;
  color: var(--green);
  font-size: 2.5vw;
}

.input-names {
  font-family: 'Open Sans', sans-serif;
  color: var(--green);
  font-size: 1.5vw;
}

.form-input {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: var(--blue);
  border: none;
  width: 300px;
  height: 30px;
  outline: none;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
